.ia-modal {
    position: absolute;
    top: 55px;
    width: 25%;
    z-index: 1;
    border: 1px solid rgba(0,0,0,0.4);
    right: 35px;
}

.ia-modal>div {
    display: flex;
    position: relative;
}

.ia-modal>div:first-child button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ia-modal p {
    color: black;
    padding-left: 1em;
}