.story-creator {
    display: grid;
    grid-template-columns: 250px calc(100% - 550px) 300px;
    grid-template-rows: 70px 1fr 1fr;
    padding: 5px;
    height: calc(100% - 48px);
    width: 100%;
}

.story-details {
    grid-row: 1 ;
    grid-column: 2 / 3;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
}

.no-stories {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    position: relative;
}

.no-stories p {
    position: absolute;
    top: calc(50% - 1em);
    width: 100%;
    text-align: center;
}

.simple-story-list {
    grid-row: 1 / 6;
}

.player-interfaces {
    grid-row: 2 / 4;
    width: 100%;
}

.actions-timeline {
    margin-left: 5px;
    grid-row: 1 / 4;
    grid-column: 3 / 4;
}