.component-creator {
    display: grid;
    grid-template-rows: 1fr 32px;
    width: 100%;
    height: 100%;
}

.component-creator .components-list {
    max-height: 400px;
    overflow: auto;
    grid-row: 1 / 1;
}

.component-creator .component-buttons {
    grid-row: 2 / 3;
    text-align: center;
}

.component-creator .component-element {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.23);
}

.cmp-modal-help {
    position: absolute !important;
    top: 15px;
    right: 15px;
}

.component-input-inline {
    display: flex;
}

.component-input-inline>div {
    flex: 1;
}

.component-input-inline .placement {
    margin: 15px 0 0 10px;
}