.simple-story-list {
    margin-right: 5px;
    position: relative;
}

.simple-story-list h2 span {
    font-size: 1.3rem;
}

.simple-story-list hr {
    margin: 5px 0;
}

.simple-story-list.small {
    padding-top: 50px;
}

.simple-story-list ul {
    height: calc(100% - 64px);
    overflow: auto;
}

.simple-story-list .add-story span {
    color: #ff7900 !important;
}

.simple-story-list .story-list li {
    overflow: hidden;
}

.unsaved-story {
    position: absolute;
    left: 10px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #ff7900;
}

.simple-story-list .shrink {
    position: absolute;
    top: 2px;
    left: 1px;
}

.simple-story-list.large .shrink {
    left: auto;
    right: 5px;
    top: 6px;
}