.content {
    margin: 5px 0;
    height: calc(100% - 75px);
    display: flex;
    justify-content: stretch;
}

.connected-list {
    width: 280px;
    margin: 0 10px 0 5px;
}

.no-player {
    opacity: 0.5;
}

.table-paper {
    flex: 1;
    margin-right: 5px;
}

.title {
    margin: 20px !important;
}

td.green {
    color: #689F38;
    font-weight: bold;
}

td.red {
    color: #D32F2F;
    font-weight: bold;
}

.app-title {
    flex-grow: 1;
}

.game-dashboard {
    width: 100%;
    height: 100%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.user-timeline, .actions-list {
    height: 50%;
}

.user-timeline {
    margin-bottom: 5px;
}

.actions-list {
    padding: 0 20px;
}

.actions-list hr {
    margin-bottom: 10px;
}

.actions-list button svg {
    margin-left: 5px;
}

.actions-list button {
    margin: 0 10px;
}

.masterboard header.pause {
    background-color: #CFCFCF;
}