.masterboard {
    background-color: #EFEFEF;
    position: relative;
}

.masterboard h1 {
    font-size: 1rem;
    margin: 0;
    margin-right: 30px;
}

.content {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 200px 1fr;
    margin: 5px;
    height: calc(100% - 60px);
}

td.green {
    color: #689F38;
    font-weight: bold;
}

td.red {
    color: #D32F2F;
    font-weight: bold;
}

.app-title {
    flex-grow: 1;
    font-size: 1.6rem;
}

.app-title.dark {
    color: black;
}

.app-title.light {
    color: white;
}

.actions-list {
    grid-row: 2 / 3;
}

.masterboard header.pause {
    background-color: #CFCFCF;
}

.masterboard>header>div {
    min-height: 48px;
    justify-content: space-between;
}

.server-quit {
    position: absolute !important;
    top: 6px;
    right: 6px;
}