.game-grid {
    display: grid;
    width: 100%;
    height: calc(100% - 64px);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.game .debug-grid {
    display: grid;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100% - 64px);
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    pointer-events: none;
    background-image: none !important;
}

.game .debug-grid div {
    border-top: 1px solid red;
    border-left: 1px solid red;
}