.server-connect {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: #ff7900;
    justify-content: center;
    align-items: center;
}

.server-connect .game-header {
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

.server-connect .server-join {
    width: 38%;
    padding-top: 38%;
    position: relative;
    border-radius: 50%;
    background-color: white;
    margin-top: 50px;
}

.server-connect .server-join .inner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    margin-top: -10px;
}

.server-connect .server-join .inner>div {
    width: 80%;
    margin: 5px 10%;
}

.server-connect button {
    height: 56px;
}

.server-connect h2 {
    margin-bottom: 20px;
}